.project-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: white;
  padding: 2rem;
  border-radius: 12px;

  margin-bottom: 2rem;
}

.project-form input,
.project-form textarea {
  padding: 1rem;
}

.project-form button {
  background: #6366f1;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
}